
$bg-color: #e9eef4;

body {
	background: $bg-color;
}

$gutter-width: 25px;
$toggle-width: 15px;

#todoapp {

	&:before {
		position: absolute;
		z-index: 3;
		width: $gutter-width;
		border-left: none;
		border-right: solid 2px #efe2e2;
	}
	border-radius: 5px;
	border: solid 1px #b5b9c2;
	border-top: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
				0 20px 20px 0 rgba(0, 0, 0, 0.15);

	#header {
		&:before {
			height: 50px;
			z-index: 4;
		}

		padding-top: 50px;

	}
}



#main {
	border-top: none;
	#todo-list {
		.completed label {
			color: #a9a9a9;
			text-decoration: line-through;
			font-weight: normal !important;
		}
		.hoverOn label {
			color: #a9a9a9;
			text-decoration: line-through;
			font-weight: bold;
		}

		li {
			background-color: white;
			padding-left: $gutter-width + $toggle-width;
			border-bottom: 1px solid #ecedef;

			&:hover {
				background: #ededed;
			}

			.view {
				input.toggle {
					left: 2*$gutter-width + $toggle-width;
				}

				label {
					font-weight: bold;
					font-size: 16px;
					padding: 12px 60px 12px 15px;
				}
			}

			.editing {
				width: 506px;
				padding: 5px 5px 5px 5px;
				margin: 0 0 0 10px;
			}

			.destroy {
				position: absolute;
				top: 0;
				right: 10px;
				bottom: 0;
				width: 20px;
				height: 20px;
				margin: auto 0;
				font-size: 18px;
				color: #a88a8a;
				-webkit-transition: all 0.2s;
				transition: all 0.2s;
			}
		}
	}

	#new-todo-area {
		height: 70px;
		background-color: white;
		border-radius: 3px;

		/*&:hover {
			background: #ededed;
		}*/

		#make-todo {
			&:hover {
				background: #fbebbf;
			}

			#pen-icon {
				padding-right: 5px;
				width: 12px;
				height: 12px;
			}

			position: relative;
			top: 10px;
			left: 2*($gutter-width + $toggle-width);
			width: 80%;
			font-size: 16px;
			font-weight: bold;
			text-color: #c8bca8;
			text-align: left;
			padding: 5px 5px 5px 10px;
			background: #fefaef;
			border: solid 1px #c8bca8;
			border-radius: 3px;
			z-index: 2;
			box-shadow: none;
		}

		#new-todo, .edit {
			box-shadow: none;
			margin-top: 10px;
			font-size: 16px;
		}

		#new-todo {
			left: 2*($gutter-width + $toggle-width);
			width: 80%;
			padding: 5px 5px 5px 35px;
			border: solid 1px #bdbdbd;
			border-radius: 3px;
			background-color: white;
			z-index: 2;
			box-shadow: none;
		}
	}
}


#lists {
	font-size: 15px;
	color: #FFF;
	padding: 0 15px;
	position: absolute;
	right: 0;
	top: 15px;
	left: 0;
	height: 20px;
	z-index: 4;
	text-align: center;

	#todo-count {
		margin-left: 2*$gutter-width + $toggle-width;
		float: left;
		text-align: left;
	}

	#filters {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		right: 0;
		left: 0;
	}

	#filters li {
		display: inline;
	}

	#filters li a {
		color: white;
		margin: 2px;
		text-decoration: none;
	}

	#filters li a.selected {
		font-weight: bold;
	}

	#clear-completed {
		float: right;
		position: relative;
		line-height: 20px;
		text-decoration: none;
		background: rgba(0, 0, 0, 0.1);
		font-size: 12px;
		padding: 0 10px;
		border-radius: 3px;
		box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
	}

	#clear-completed:hover {
		background: rgba(0, 0, 0, 0.15);
		box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
	}
}

/*#lists:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 50px;
	z-index: -1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
				0 6px 0 -3px rgba(255, 255, 255, 0.8),
				0 7px 1px -3px rgba(0, 0, 0, 0.3),
				0 43px 0 -6px rgba(255, 255, 255, 0.8),
				0 44px 2px -6px rgba(0, 0, 0, 0.2);
}*/



#pages {
	color: #777;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	z-index: 1;
}

#pages:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 50px;
	z-index: -1;
	border-radius: 3px;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3),
				0 2.5px 0 -0.5px rgba(255, 255, 255, 0.8),
				0 3.5px 1px -0.5px rgba(0, 0, 0, 0.3),
				0 5px 0 -1px rgba(255, 255, 255, 0.8),
				0 6px 2px -1px rgba(0, 0, 0, 0.2);
}