body {
  background: #e9eef4; }

#todoapp {
  border-radius: 5px;
  border: solid 1px #b5b9c2;
  border-top: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.15); }
  #todoapp:before {
    position: absolute;
    z-index: 3;
    width: 25px;
    border-left: none;
    border-right: solid 2px #efe2e2; }
  #todoapp #header {
    padding-top: 50px; }
    #todoapp #header:before {
      height: 50px;
      z-index: 4; }

#main {
  border-top: none; }
  #main #todo-list .completed label {
    color: #a9a9a9;
    text-decoration: line-through;
    font-weight: normal !important; }
  #main #todo-list .hoverOn label {
    color: #a9a9a9;
    text-decoration: line-through;
    font-weight: bold; }
  #main #todo-list .slideUp, #main #todo-list .slideDown {
    max-height: 0;
    overflow-y: hidden;
    -moz-transition: max-height 0.8s ease-in-out;
    -o-transition: max-height 0.8s ease-in-out;
    -webkit-transition: max-height 0.8s ease-in-out;
    transition: max-height 0.8s ease-in-out; }
  #main #todo-list .slideDown {
    max-height: 50px; }
  #main #todo-list li {
    max-height: 50px;
    background-color: white;
    padding-left: 40px;
    border-bottom: 1px solid #ecedef; }
    #main #todo-list li:hover {
      background: #ededed; }
    #main #todo-list li .view input.toggle {
      left: 65px; }
    #main #todo-list li .view label {
      font-weight: bold;
      font-size: 16px;
      padding: 12px 60px 12px 15px; }
    #main #todo-list li .edit {
      width: 85%;
      padding: 10px 17px 9.5px;
      font-size: 16px; }
    #main #todo-list li .destroy {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      width: 20px;
      height: 20px;
      margin: auto 0;
      font-size: 18px;
      color: #a88a8a;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    #main #todo-list li .fadeOut, #main #todo-list li .fadeIn {
      opacity: 0;
      -moz-transition: opacity 0.8s linear;
      -o-transition: opacity 0.8s linear;
      -webkit-transition: opacity 0.8s linear;
      transition: opacity 0.8s linear; }
    #main #todo-list li .fadeIn {
      opacity: 1; }
  #main #new-todo-area {
    height: 70px;
    background-color: white;
    border-radius: 3px;
    /*&:hover {
    	background: #ededed;
    	}*/ }
    #main #new-todo-area #make-todo {
      position: relative;
      top: 10px;
      left: 80px;
      width: 80%;
      font-size: 16px;
      font-weight: bold;
      text-color: #c8bca8;
      text-align: left;
      padding: 5px 5px 5px 10px;
      background: #fefaef;
      border: solid 1px #c8bca8;
      border-radius: 3px;
      z-index: 2;
      box-shadow: 0 3px 3px 0; }
      #main #new-todo-area #make-todo:hover {
        box-shadow: 0 1px 1px 0;
        background: #fbebbf;
        transform: translateY(2px); }
      #main #new-todo-area #make-todo #pen-icon {
        padding-right: 5px;
        width: 12px;
        height: 12px; }
    #main #new-todo-area #new-todo, #main #new-todo-area .edit {
      box-shadow: none;
      margin-top: 12px;
      font-size: 16px; }
    #main #new-todo-area #new-todo {
      left: 80px;
      width: 80%;
      padding: 5px 5px 5px 35px;
      border: solid 1px #bdbdbd;
      border-radius: 3px;
      background-color: white;
      z-index: 2;
      box-shadow: none; }

#lists {
  font-size: 15px;
  color: #FFF;
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 15px;
  left: 0;
  height: 20px;
  z-index: 4;
  text-align: center; }
  #lists #todo-count {
    margin-left: 65px;
    float: left;
    text-align: left; }
  #lists #filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0; }
  #lists #filters li {
    display: inline; }
  #lists #filters li a {
    color: white;
    margin: 2px;
    text-decoration: none; }
  #lists #filters li a.selected {
    font-weight: bold; }
  #lists #clear-completed {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    font-size: 12px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2); }
  #lists #clear-completed:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3); }

#pages {
  color: #777;
  position: absolute;
  right: 0;
  bottom: -31px;
  left: 0;
  z-index: 1; }

#pages:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 31px;
  left: 0;
  height: 50px;
  z-index: -1;
  border-radius: 3px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3), 0 2.5px 0 -0.5px rgba(255, 255, 255, 0.8), 0 3.5px 1px -0.5px rgba(0, 0, 0, 0.3), 0 5px 0 -1px rgba(255, 255, 255, 0.8), 0 6px 2px -1px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=style.css.map */
